<div class="container " xmlns="http://www.w3.org/1999/html">
  <div class="card"
       *ngIf="product">
    <div> #{{product.id}}</div>
    <ul class="list-group">
      <li class="list-group-item">
        <label>name: </label>{{product.name}}
      </li>
      <li class="list-group-item">
        <label>quantity: </label> {{product.quantity}}
      </li>
      <li class="list-group-item">
        <label>category name: </label> {{product.category.name}}
      </li>
      <li class="list-group-item">
        <label>id extra: </label>{{product.extra.id}}
      </li>
      <li class="list-group-item">
        <label>extra price: </label>{{product.extra.price}}
      </li>
      <li class="list-group-item">
        <label>extra product_id: </label>{{product.extra.product_id}}
      </li>
      <li class="list-group-item">
        <label>color: </label> <div style="width: 40px; height: 40px; background: {{product.extra.color}}"></div>
      </li>
      <li class="list-group-item">
        <label>description: </label> {{product.extra.description}}
      </li>
    </ul>

  </div>
</div>