<div class="col-md-12">
  <h4 class="text-center">Login</h4>
    <form class="form"
        [formGroup]="loginForm"
        (ngSubmit)="login($event)">
        <div
             [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}" >
                <input formControlName="username" type="email" placeholder="Your email">

                <div
                    *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert alert-danger">You must include a username.</div>
        </div>

        <div [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
            <input  formControlName="password" type="password" placeholder="Password">
            <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">You must include a password.</div>
        </div>
      <div class="button-center" *ngIf="!loading">
          <button  class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
      </div>
      <div class="button-center spinner" *ngIf="loading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
      </div>
    </form>
</div>
